<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление продукта</title>
</head>
<body>
    <h1>Добавление продукта</h1>
    <form action="/products/add" method="post" enctype="multipart/form-data">
        <p>Введите наименование продукта  <input type="text" name="productname"/></p>
        <p>Введите описание продукта <textarea name="description" cols="40" rows="3"></textarea></p>
        <p>Введите количество штук продукта  <input type="number" name="count"/></p>
        <p>Введите цену продукта(в рублях)  <input type="number" name="price"/></p>
        <input type='hidden' value='${_csrf.token}'/>
        <input type="file" name="file">
        <button type="submit">Добавить</button>
    </form>
</body>
</html>