<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GR Home</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header>
    <a>Главная</a>
    <a>Избранное</a>
    <a>Корзина</a>
    <a>Друзья</a>
    <a>Авторизация</a>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</header>
    <h1>Топ всех продуктов из БД</h1>
    <div th:if="${products}">
        <div th:each="product : ${products}">
            <p><a th:text="${product.producttitle}"></a></p>
            <p>от продавца - <span th:text="${product.getSeller().getUsername()}"></span></p>
            <p>Стоимость: <span th:text="${product.getPrice()}"></span></p>
            <p>Описание: <p th:text="${product.getDescription()}"></p></p>
            <p>Рейтинг: <span th:text="${product.getRaiting()}"></span></p>
            <p>Количество на складе: <span th:text="${product.getCount()}"></span></p>
            <div th:if="${product.filename}">
                <img th:src="@{/img/{path} (path = ${product.getFilename()})}">
            </div>
            <hr>
        </div>
    </div>
</body>
</html>